.link-group-title-div.svelte-jxxs33{line-height:24px;margin:10px 5px 5px;border-radius:10px;border:1px solid rgba(160,160,160,.6);letter-spacing:2px}.link-group-title-txt.svelte-jxxs33{opacity:.7;padding:10px}
