/*自定义的pages公共CSS*/


.section-main{
    position: fixed;
    width: 100%;
    height: calc(100% - 5px);
    top: 0;
    z-index: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
    padding-bottom: 115px;
}
.page-div{
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.part-div{
    opacity: 0.9;
}


.link-group{
    border-radius: 10px;
    margin-bottom: 30px;
}
.link-group-title{
    margin-left: 5px;
    margin-bottom: 5px;
    height: 24px;
    line-height: 24px;
    text-indent: 2px;
}
.link-group-list{
    width: 100%;
}
.link-group-list-item{
    width: calc(100%/3 - 10px);
    margin: 5px 5px;
    padding: 5px 5px;
    float: left;
    line-height: 18px;
    height: 42px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}

