.footer-content{
    padding: 20px 5px;
}
.footer-span-box{
    max-width: 820px;
    width: calc(100%);
    margin-left: auto;
    margin-right: auto;
}
.footer-app{
    padding: 5px 5px;
    border-radius: 10px;
    float: left;
    opacity: 0.7;
}
.footer-host{
    padding: 5px 5px;
    border-radius: 10px;
    float: right;
    opacity: 0.7;
}